.*{
	padding:0px;
	margin:0px;
}
header{
	color:white;
	height:90px;
	background-color:#2d3d51;
	width:100%;
}
p{
	color:white;
	
}
article{
	
	background-color:gray;

}
aside{
	color:black;
	background-color:purple;
}
/*.row { display: table; } [class*="col-"] {
 float: none;
 display: table-cell; 
 vertical-align: top; }*/


